<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- <link rel="preload" href="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js" as="script"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="app.module.js"></script>
    <link rel="stylesheet" href="styles/global.css">
  </head>
  <body ng-app="AppModule" ng-controller="AppController">
    <div
      ng-repeat="record in addressBook track by record.id"
      ng-class="{'red-bg': record.firstName.charAt(0) === 'A', 'blue-bg': record.firstName.charAt(0) === 'D'}"
      class="record"
    >
      <div class="controls">
        <label> Show phone number:
          <input type="checkbox" ng-model="record.phoneNumber.visible">
        </label>
      </div>
      <div class="divider"></div>
      <div class="record-data">
        <span class="row">First Name: {{record.firstName}}</span>
        <span class="row">Last Name: {{record.lastName}}</span>
        <span ng-if="record.phoneNumber.visible" class="row">Phone Number: {{record.phoneNumber.value}}</span>
        <span class="row">Email: {{record.email}}</span>
        <span class="row">Address: {{record.address}}</span>
      </div>
    </div>
  </body>
</html>